<% unless notice == nil || notice == '' %>
  <div class="alert alert-success alert-dismissible text-center notice-flash-message delay-3s-fadeout">
    <div class="container text-center">
      <%= notice %>
      <button class="close" data-dismiss="alert">
        <span>
          &times;
        </span>
      </button>
    </div>
  </div>
<% end %>
<% unless alert == nil || alert == '' %>
  <% if I18n.backend.send(:translations)[:en][:devise][:failure][:session_limited] == alert %>
    <% delay_fadeout_cls = 'delay-10s-fadeout' %>
  <% else %>
    <% delay_fadeout_cls = 'delay-3s-fadeout' %>
  <% end %>
  <div class="<%= delay_fadeout_cls %> alert alert-danger alert-dismissible text-center alert-flash-message">
    <div class="container text-center">
      <%= alert %>
      <button class="close" data-dismiss="alert">
        <span>
          &times;
        </span>
      </button>
    </div>
  </div>
<% end %>
